# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
signing.properties
release-signing.properties
app/signing.properties
*.keystore
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
